$color-primary: #48484a;
$color-secondary: #ec6e4c;
$color-tertiary: #f2f2f1;
$color-quaternary: #4a77a1;

$font-primary: 'Open Sans', 'Playfair Display', Arial, Helvetica, sans-serif;
$font-secondary: 'Playfair Display', 'Open Sans', Arial, Helvetica, sans-serif;